.App {
  text-align: center;
}
.headerContainer {
  background-color: aquamarine;
  min-height: 70px;
}
.mainContainer {
  background-color: bisque;
  height: 100%;
}
.footerContainer {
  background-color: cadetblue;
  min-height: 60px;
}
