.App {
  text-align: center;
}
.headerContainer {
  background-color: white;
  padding: 1rem;
  height: 70px;
}
.navigationContainer {
  padding: 1rem;
}
.list {
  display: flex;
}
.listItem {
  justify-content: center;
  display: inline-flex;
  font-size: larger;

  flex-grow: 1;
  list-style: none;
}
.listLogoItem {
  flex-grow: 9;
  list-style: none;
  font-size: larger;
}

.mainContainer {
  background-color: rgb(255, 255, 255);
}

.sunshineIconsContainer {
  padding-left: 6rem;
  padding-right: 6rem;
}
.sunshineIconsImage {
  height: 100%;
  width: 100%;
}

.sunshineIconsHeader {
  font-weight: 700;
  text-transform: uppercase;
}

.discoverSelectionButton {
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
}

.collectionsContainer {
  display: inline-flex;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 4rem;
}
.goldenHourContainer {
  display: flex;
}

.summerTimeContainer {
  display: flex;
  padding-left: 1rem;
  width: 100%;
}

.goldenHourImage {
  display: inline-flex;
  height: 50%;
  width: 100%;
}

.summerTimeImage {
  display: inline-flex;
  height: 50%;
  width: 100%;
}

.goldenHourSummerTimeHeader {
  display: flex;
}

.footerContainer {
  background-color: blanchedalmond;
  min-height: 100px;
}
