.App {
  text-align: center;
}
.headerContainer {
  background-color: white;
  padding: 1rem;
  height: 70px;
}
.navigationContainer {
  padding: 1rem;
}
.list {
  display: flex;
}
.listItem {
  justify-content: center;
  display: inline-flex;
  font-size: larger;

  flex-grow: 1;
  list-style: none;
}
.listLogoItem {
  flex-grow: 9;
  list-style: none;
  font-size: larger;
}

/* _____🍋🍋🍋🍋🍋 MAIN CONTENT 🍋🍋🍋🍋🍋_____ */

.mainContainer {
  background-color: rgb(255, 255, 255);
}

.sunshineIconsContainer {
  padding-left: 6rem;
  padding-right: 6rem;
}

.sunshineIconsImage {
  max-width: 100%;
  height: auto;
}

.sunshineIconsHeader {
  font-weight: 700;
  text-transform: uppercase;
}

.discoverSelectionButton {
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  color: rgb(0, 0, 0);
  padding: 1rem;

  text-decoration: underline;
}

.discoverSelectionButton:hover {
  color: rgb(255, 0, 0);
}

.cultureOfDesignContainer {
  padding: 1rem;

  background-color: rgb(240, 240, 240);
}

.watchesContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 450px;
}

.watchesImages {
  display: flex;
  height: 200px;
  max-width: 200px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.santosContainer {
  justify-content: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.santosContainer:hover + .hide {
  justify-content: center;
  flex-direction: column;
  display: block;
  background-color: rgb(255, 255, 255);
}

.santosContainer:hover {
  background-color: rgb(255, 255, 255);
}

.price {
  font-weight: 600;
}

.imageCaption {
  flex-wrap: wrap;
  font-weight: 600;
}

.addToBagButton {
  text-align: center;

  color: white;
  background-color: black;

  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  width: 80%;
  text-transform: uppercase;

  font-weight: 400;

  border-color: black;
  border-width: 1px;
}

.addToBagButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.shopButton {
  text-align: center;
  color: white;
  background-color: black;

  padding-top: 8px;
  padding-bottom: 8px;

  width: 80%;
  text-transform: uppercase;
  font-weight: 400;

  border-color: black;
  border-width: 1px;
}

.shopButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.mustHaveText {
  text-align: center;
  justify-content: center;

  position: relative;
  bottom: 190px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  color: rgb(0, 0, 0);
  left: 40px;
  opacity: 0.8;
  text-transform: uppercase;
}

.productDescriptionText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .onHoverHeart {
  position: relative;
  top: -355px;
  left: 45px;
}

.onHoverArrow {
  position: relative;
  top: -200px;
  left: 30px;
} */

.baignoireContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.seasonalAccessoriesContainer {
  width: 100%;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.one {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  padding: 0.5rem;
}

.two {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  padding: 0.5rem;
}

.solidDivider {
  border-top: 0.5px solid #565656;
  width: 85%;
}

.newsletterContainer {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.newsletterInput {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 2rem;
  padding-left: 0.2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.proceedButton {
  background-color: black;
  color: white;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

/* _____🍎🍎🍎🍎🍎 FOOTER CONTENT 🍎🍎🍎🍎🍎_____ */

.footerContainer {
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;

  padding: 1rem;
  flex-direction: row;
}

.footerRowContainer {
  flex-direction: column;
  flex-grow: 1;
}

.footerRowContent {
  color: rgb(225, 24, 141);
  flex-direction: row;
}
